/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box{
  height: 200px;
  background-position: center;
  background-size: cover;
}

.box1{
  background-image: url("chapter6_exercise/chapter6_exercise/img/box1.jpg");
}

.box2{
  background-image: url("chapter6_exercise/chapter6_exercise/img/box2.jpg");
}

.box3{
  background-image: url("chapter6_exercise/chapter6_exercise/img/box3.jpg");
}

.box4{
  background-image: url("chapter6_exercise/chapter6_exercise/img/box4.jpg");s
}